.App{
  margin:0;
}

.MainContainer{
  background-color: rgb(50, 183, 50);
  margin:0;
}

.RecordLift{
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin:auto;
  padding: 5%;
}

.RecordLift label{
margin-top: 5%;
}

.RecordLift input{
  padding: 1% 0;
  border-radius: 5px;
}


